html{
    background-color: rgb(186, 196, 103);
    margin:0% auto 50% auto;
}
head{
    margin:0px ;
    background-color: rgb(110, 219, 219);
    border-color: 2px black;
    
}

h3{
    color:rgb(1, 3, 2);
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    border-color:3px black;
    text-shadow: 3px 1px 20px blue;
    border-color:3px black;
}
div>h4{
    padding:5% ;
    text-align: center;
    color:brown;
    font-size: 1.2em;
    background-color:rgb(109, 245, 138);
    text-shadow: 3px 1px 20px blue;
    border-color:3px black;
}
div{
    border-color:3px black;
    background-color: rgb(154, 180, 202);
}
input{
    margin:0% 41%;
    float:center;
    height:40px;
    width:240px;
    background-color: rgb(75, 1, 109);
    border-color: blue;
   
}
div#result{
    margin:2% 44%;
    font-size: 1.5em;
    color:rgba(29, 36, 1, 0.918);

}
input::placeholder{
    text-align: center;
    color:rgb(251, 255, 0);
}
button{
     color:rgb(55, 4, 104);
     background-color: yellow;
     width:70px;
     height:25px;
     margin:2% 47%;
     
}
